*{
    padding: 0;
    margin: 0;
}

body{
    background: url("../Resources/background.jpg");
    min-height: 100vh;
    background-size: 120vw 110vh;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#game-board{
    background: linear-gradient(rgb(248, 222, 173),rgb(159, 240, 159));
    width: 83vmin;
    height: 89vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20,1fr);
}

.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color:rgb(218, 97, 107);
}

#score, 
#highScore {
    font-size: 30px;
    font-weight: bolder;
    margin: 10px 0;
}

#instruction-text {
    position: absolute;
    top: 65%;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
    left: 37%
}

.snake{
    border: gray 2px dotted;
    background-color: orange;
}

.food{
    background-color: lightseagreen;
    border: gray 1px solid;
}

#logo {
    position: absolute;
    left: 40%;
    height: 40%;
    top: 28%;
}