*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("background.jpg");
    min-height: 100vh;
    background-size: 120vw 110vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(248, 222, 173),rgb(159, 240, 159));
    width: 80vmin;
    height: 85vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background-color: red;
}

.snake{
    background-color: purple;
}

.food{
    background-color: blue;
}