*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("peakpx.jpg");
    min-height: 100vh;
    background-size: 120vw 110vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .board{
    background: linear-gradient(rgb(248, 222, 173),rgb(159, 240, 159));
    width: 80vmin;
    height: 85vmin;
    border: 2px solid black;
}